/* SH Title */
body > table > tbody > tr:nth-child(1) > td > div > div[data-wfx-id="self-help-title"]  {
font-size : 18px !important;
font-family : Arial !important;
font-weight: bold;
color: #FFFFFF !important; 
}

/* SH Flow Titles */
[id*="wfx-dashboard-self-help-flow-"] {
color: #030000 !important;
font-size : 16px !important;
font-family : Arial !important;
}

/* SH Search Field */
input[id="search"]
{
border: 2px solid;
border-color: #030000 !important;
border-radius: 25px;
font-size : 16px !important;
color: #727365 !important;
padding: 7px;  
}
/* Padding below search border*/
body > table > tbody > tr:nth-child(2) > td > div > div > table
{
padding-bottom: 13px;
}

/* Smart Tip Border Radius*/
#wfx-smart-tip > div > div > table > tbody > tr:nth-child(2) > td > div > table
{
  border-radius: 4px !important;
  font-family : Arial !important;
}

#wfx-tooltip-title
{
  font-family : Arial !important;
}
font-family : Arial !important;


/*
body > table > tbody > tr:nth-child(2) > td {
background-color:  #DEEFF3 !important; 
}

body > table > tbody > tr:nth-child(4) > td {
background-color:  #DEEFF3 !important;
}

[type="button"][class="co-quicko-whatfix-start-StartCss-primaryButton"]
{
border-color:  black !important;
}

[type="button"][class="co-quicko-whatfix-start-StartCss-secondaryButton""]
{
border-color:  red !important;
}
*/


