/* SH Title */
body > table > tbody > tr:nth-child(1) > td > div > div[data-wfx-id="self-help-title"]  {
font-size : 18px !important;
font-family : Arial !important;
font-weight: bold;
color: #FFFFFF !important; 
}
/* SH Flow Titles */
[id*="wfx-dashboard-self-help-flow-"] {
color: #030000 !important;
font-size : 16px !important;
font-family : Arial !important;
}
/* SH Search Field */
input[id="search"]
{
border: 2px solid;
border-color: #030000 !important;
border-radius: 25px;
font-size : 16px !important;
color: #030000 !important;
}


font-family : Arial !important;

/*
body > table > tbody > tr:nth-child(2) > td {
background-color:  #DEEFF3 !important; 
}

body > table > tbody > tr:nth-child(4) > td {
background-color:  #DEEFF3 !important;
}

[type="button"][class="co-quicko-whatfix-start-StartCss-primaryButton"]
{
border-color:  black !important;
}

[type="button"][class="co-quicko-whatfix-start-StartCss-secondaryButton""]
{
border-color:  red !important;
}
*/


